body {
    background-color: #00174a;
    /*background-image: url("/images/background-multi.jpg");*/
}

header {
    color: blue;
}

.card{
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.btn-success {
    background-color: #97ff94;
    color:#00174a;
}

.btn-warning {
    background-color: #00174a;
    border: #97ff94;
    color:white;
}

.btn-primary {
    background-color: white;
    color: black;
    border-color: black;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #00174a;
    color: white;
}

.form-check-input:checked {
    background-color: #00174a;
    border-color: #00174a;
}


.filter-box {
    background-color: white;
}

.nav-link {
    font-family: "Helvetica Neue Condensed", sans-serif;
    font-weight: bold;
}

.form-check-label {
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.product-list-header {
    padding-right: 7px;
}

html{
    margin: 0;
    padding : 0;
}

.main-containers {
    padding-right: 130px;
    padding-left: 130px;
}

@media (max-width: 576px) {
    .main-containers {
        padding-right: 20px;
        padding-left: 20px;
    }
    .product-column {
        display:none;
    }
    .quantity-column {
        display: none;
    }
    .status-column {
        display: none;
    }
    .id-column {
        display: none;
    }
    .stock-column {
        display:none;
    }
}

@media (max-width: 768px) {
    .main-containers {
        padding-right: 20px;
        padding-left: 20px;
    }
    .category-column {
        display: none;
    }
    .id-column {
        display: none;
    }
    .unit-price-column {
        display: none;
    }
    .product-column {
        display:none;
    }
    .quantity-column {
        display: none;
    }
}

@media (max-width: 992px) {
    .main-containers {
        padding-right: 50px;
        padding-left: 50px;
    }
    .category-column {
        display: none;
    }
}

.form-check-input {
    margin-right: 15px;
}

.form-control {
    margin-left: 11px;
    margin-bottom: 7px;
}

.edit-button {
    padding-left: 4px;
}

.card-body, .login-wrap {
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.search-button {
    border: none;
    background-color: transparent;
    padding: 0 0 9px;
}

.search-icon {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.main-block {
    margin-bottom: 90px;
}

